@page "/inicio"

<Modal @ref="modal" title="Modal title" IsVerticallyCentered="true">
    <BodyTemplate>
        <_EmpresaUpsert></_EmpresaUpsert>
    </BodyTemplate>
    <FooterTemplate>
        <Button Color="ButtonColor.Secondary" @onclick="OnHideModalClick">
            Close
        </Button>
        <Button Color="ButtonColor.Primary">
            Save changes
        </Button>
    </FooterTemplate>
</Modal>


<div class="container mx-auto">
    <div class="row">
        <div class="col-12">
            <h1>Inicio</h1>
            <p>Esta es la página de inicio</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <Button Color="ButtonColor.Primary" @onclick="OnShowModalClick">CrearEmpresa</Button>
        </div>
    </div>
</div>


@code {
    private Modal modal;

    private async Task OnShowModalClick()
    {
        await modal?.ShowAsync();
    }

    private async Task OnHideModalClick()
    {
        await modal?.HideAsync();
    }

}