@page "/overview/inicioperiodo/{idgestion:int}"
@using global::Services.Gestion
@layout PeriodoDashboard
@inject GestionServices GestionServices
@inject NavigationManager NavigationManager


<MudAppBar Elevation="1">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit"/>
        <MudSpacer/>
        <MudIconButton Icon="@Icons.Material.Filled.MoreVert" Color="Color.Inherit" Edge="Edge.End"/>

        </MudAppBar>

<h3>Administracion del preiodo de gestion - @_gestionDto.Nombre </h3>
<p>@IdGestion</p>
@code {

    [Parameter]
    public int IdGestion { get; set; }

    private GestionDto _gestionDto = new();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var uri = new Uri(NavigationManager.Uri);
            var segments = uri.Segments;
            var idValue = segments[^1];
            if (!string.IsNullOrEmpty(idValue) && int.TryParse(idValue, out var id))
            {
                _gestionDto = await GestionServices.GetGestionSingleAsync(id);
            }
            else
            {
                throw new ArgumentException("The 'idgestion' parameter is missing or invalid.");
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"An error occurred while initializing the component: {ex}");
        }
    }

}