@page "/Login"
<section class="text-center text-lg-start">
    <div class="container py-4">
        <div class="row g-0 align-items-center">
            <div class="col-lg-6 mb-5 mb-lg-0">
                <div class="card cascading-right" style="
            background: hsla(0, 0%, 100%, 0.55);
            backdrop-filter: blur(30px);
            ">
                    <div class="card-body p-5 shadow-5 text-center">
                        <h2 class="fw-bold mb-5">Bienvenido</h2>
						<EditForm Model="@loginModel" OnValidSubmit="@HandleValidSubmit">
                            <div class="form-outline mb-4">
                                <InputText class="form-control" @bind-Value="@loginModel.UserName"/>
                                <label class="form-label">Usuario</label>
                            </div>

                            <div class="form-outline mb-4">
                                <InputText type="password" class="form-control" @bind-Value="@loginModel.Password"/>
                                <label class="form-label">Contraseña</label>
                            </div>

                            <button type="submit" class="btn btn-primary btn-block mb-4">
                                Iniciar Sesion
                            </button>
                        ~</EditForm>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 mb-5 mb-lg-0">
                <img src="img/7.jpg" class="w-100 rounded-4 shadow-4"
                     alt=""/>
            </div>
        </div>
    </div>
</section>

@code {
	private LoginDto logindto {get; set;}
}