@page "/"
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager
@using ModuloContabilidadApi.Models.Dtos
@inherits LoginLayout



@if (_showInvalidCredentials)
{
    <p class="text-danger">Credenciales inv치lidas. Intente nuevamente.</p>
}
else
{
    <Toasts class="p-3" Messages="messages" Placement="ToastsPlacement.TopRight"/>
}
<div class="container d-flex justify-content-center align-items-center card shadow-sm" style="height: 100vh">
    <div class="card" style="width: 30rem;">
        <div class="card-body">
            <h1>Iniciar Sesi칩n</h1>
            <EditForm Model="RequestDto" OnValidSubmit="LoginAsync">
                <div class="form-group">
                    <label for="usuario">Usuario</label>
                    <InputText id="usuario" class="form-control" @bind-Value="RequestDto.Nombre"/>
                </div>

                <div class="form-group">
                    <label for="contrasena">Contrase침a</label>
                    <InputText id="contrasena" type="password" class="form-control" @bind-Value="RequestDto.Password"/>
                </div>

                <div class="form-group text-center p-4 shadow-sm">
                    <Button Color="ButtonColor.Success" Type="ButtonType.Submit" @onclick="() => ShowMessage(ToastType.Success)">
                        Iniciar Sesi칩n
                    </Button>
                </div>
            </EditForm>
        </div>
    </div>
</div>

@code {
        public const string LoginUrl = "https://localhost:44378/Auth/login";
    public LoginRequestDto RequestDto { get; set; } = new();
    private bool _showInvalidCredentials = false;

    List<ToastMessage> messages = new();

    private void ShowMessage(ToastType toastType)
    {
        messages.Add(CreateToastMessage(toastType));
    }

    private ToastMessage CreateToastMessage(ToastType toastType)
    {
        return new ToastMessage
        {
            Type = toastType,
            Message = $"Hello, world! This is a simple toast message. DateTime: {DateTime.Now}",
        };
    }

    private async Task LoginAsync()
    {
        var loginRequestDto = new LoginRequestDto
        {
            Nombre = RequestDto.Nombre,
            Password = RequestDto.Password
        };

        var response = await HttpClient.PostAsJsonAsync(LoginUrl, loginRequestDto);

        if (response.IsSuccessStatusCode)
        {
            var loginResponseDto = await response.Content.ReadFromJsonAsync<LoginResponseDto>();
            // Use the loginResponseDto object to store the user's login information and token.
            NavigationManager.NavigateTo("/Inicio");
        }
        else
        {
            _showInvalidCredentials = true;
        }
    }

}