@page "/inicio/overview"
@using global::Services.Gestion
@inject GestionServices GestionServices


@layout DashboardLayout

@* Table goes here *@
<h3>Overview</h3>
<MudTable Items="_gestiones" Hover="true" Breakpoint="Breakpoint.Sm">
    <HeaderContent>
        
    </HeaderContent>
    <RowTemplate>
        @foreach (var gestion in _gestiones)
        {
            <MudTd>@gestion.Nombre</MudTd>
            <MudTd>@gestion.FechaInicio</MudTd>
            <MudTd>@gestion.FechaFin</MudTd>
            <MudTd>@gestion.Estado</MudTd>
        }
    </RowTemplate>
</MudTable>





@code {
    private IEnumerable<GestionDto> _gestiones = new List<GestionDto>();

    public GestionDto GestionDto { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        _gestiones = await GestionServices.GetGestionAsync();
    }

}