@page "/inicio/overview"
@using global::Services.Gestion
@inject GestionServices GestionServices
@layout DashboardLayout

@* Table goes here *@
<h3>Overview</h3>
<MudTable Items="_gestiones.Take(2)" Hover="true" Breakpoint="Breakpoint.Sm">
    <HeaderContent>
        <MudTh>Nombre</MudTh>
        <MudTh>Fecha Inicio</MudTh>
        <MudTh>Fecha Fin</MudTh>
        <MudTh>Estado</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Nombre">@context.Nombre</MudTd>
        <MudTd DataLabel="Fecha Inicio">@context.FechaInicio</MudTd>
        <MudTd DataLabel="Fecha Fin">@context.FechaFin</MudTd>
        <MudTd DataLabel="Estado">@context.Estado</MudTd>
    </RowTemplate>
</MudTable>

@code {
    private IEnumerable<GestionDto> _gestiones = new List<GestionDto>();

    protected override async Task OnInitializedAsync()
    {
        _gestiones = await GestionServices.GetGestionAsync();
    }

}