@page "/"
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager
@layout LoginLayout
@using AlignItems = MudBlazor.AlignItems
@using Variant = MudBlazor.Variant
@inject ISnackbar Snackbar

<MudStack Justify="Justify.Center" AlignItems="AlignItems.Center">
    <EditForm Model="RequestDto" OnValidSubmit="LoginAsync">
        <div class="form-group">
            <MudTextField @bind-Value="RequestDto.Nombre" id="usuario" Label="Usuario" Variant="Variant.Filled"/>
        </div>

        <div class="form-group">
            <MudTextField @bind-Value="RequestDto.Password" InputType="InputType.Password" Label="Contraseña" Variant="Variant.Filled"/>
        </div>

        <div class="form-group p-4 shadow-sm text-center">
            <MudButton Color="Color.Info" ButtonType="ButtonType.Submit">
                Iniciar Sesión
            </MudButton>
        </div>
    </EditForm>
</MudStack>

@code {
    public LoginRequestDto RequestDto { get; } = new();
    private bool _showInvalidCredentials;
        public const string LoginUrl = "https://localhost:44378/Auth/login";


    private async Task LoginAsync()
    {
        var loginRequestDto = new LoginRequestDto
        {
            Nombre = RequestDto.Nombre,
            Password = RequestDto.Password
        };

        var response = await HttpClient.PostAsJsonAsync(LoginUrl, loginRequestDto);

        if (response.IsSuccessStatusCode)
        {
            Snackbar.Add($"Bienvenido {loginRequestDto.Nombre}!", Severity.Success);
            NavigationManager.NavigateTo("/Inicio");
        }
        else
        {
            Snackbar.Add($"Credenciales incorrectas", Severity.Error);
            _showInvalidCredentials = true;
        }
    }

}