.modal[b-amdye4loo9] {
    opacity: 100;
    transition: opacity 0.2s ease-in-out;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
}

.modal.show[b-amdye4loo9] {
    opacity: 1;
}