@import '_content/Blazor.Bootstrap/Blazor.Bootstrap.bundle.scp.css';

/* _content/NET7.BlazorServerApp/Pages/Empresa/Inicio.razor.rz.scp.css */
/* _content/NET7.BlazorServerApp/Pages/Empresa/_CreateEmpresa.razor.rz.scp.css */
.modal[b-szsnliyhrr] {
    opacity: 100;
    transition: opacity 0.2s ease-in-out;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
}

.modal.show[b-szsnliyhrr] {
    opacity: 1;
}
/* _content/NET7.BlazorServerApp/Pages/InicioSesion.razor.rz.scp.css */
.cascading-right[b-ba4z36bvlv] {
    margin-right: -50px;
}

@media (max-width: 991.98px) {
    .cascading-right[b-ba4z36bvlv] {
        margin-right: 0;
    }
}
/* _content/NET7.BlazorServerApp/Shared/MainLayout.razor.rz.scp.css */
