<button type="button" class="btn btn-primary" @onclick="ToggleModal">@ButtonText</button>

@code {
    [Parameter]
    public string ButtonText { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public bool IsVisible { get; set; }

    [Parameter]
    public EventCallback<bool> IsVisibleChanged { get; set; }

    private bool showModal;

    protected override void OnInitialized()
    {
        showModal = IsVisible;
    }

    private async Task ToggleModal()
    {
        showModal = !showModal;
        await IsVisibleChanged.InvokeAsync(showModal);
    }
}