@page "/"

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="form-group text-center">
                <label for="dropdown">Seleccione o cree una empresa:</label>
                <select class="form-control" id="dropdown">
                    <!-- colocar lista de empresas con linq -->
                </select>
            </div>
            <div class="btn-group d-flex justify-content-center mt-3">
                <button @onclick="ShowModal" type="button" class="btn btn-primary mx-2">Create</button>
                <button type="button" class="btn btn-warning mx-2">Edit</button>
                <button type="button" class="btn btn-danger mx-2">Delete</button>
            </div>
        </div>
    </div>
</div>

<CreateEmpresaModal @ref="modal" Title="Crear Empresa">
    <_EmpresaUpsert/>
</CreateEmpresaModal>

<Button Color="ButtonColor.Primary"> Primary </Button>

<Progress Class="mb-3">    <ProgressBar /></Progress>

@code {
    private CreateEmpresaModal modal;

    private void ShowModal()
    {
        modal.IsVisible = true;
    }
}