@page "/ListarEmpresas"
<button @onclick="ShowModal">Crear Empresa</button>

<CreateEmpresaModal @ref="modal" Title="Crear Empresa">
    <p>This is the content of the modal.</p>
</CreateEmpresaModal>

@code {
    private CreateEmpresaModal modal;

    private void ShowModal()
    {
        modal.IsVisible = true;
    }
}