@page "/ListarEmpresas"

<div class="row mt-4">
    <div class="col-6">
        <h4 class="card-title text-info">
            Lista de empresas
        </h4>
    </div>
    <div class="col-4 offset-2">
        <a href="empresa/crear" class="btn btn-info form-control">Agregar nueva
        empresa</a>
    </div>
</div>

@code {

}