.mud-tf-outlined.mud-tf-adorned-end.mud-tf-hover{
    --mud-palette-primary: #1ec8a5;
}
.fade-in {
    animation: fadeIn ease 1s;
    -webkit-animation: fadeIn ease 1s;
    -moz-animation: fadeIn ease 1s;
    -o-animation: fadeIn ease 1s;
    -ms-animation: fadeIn ease 1s;
}
.mud-drawer-end.mini-closed {
    margin-right: 8px; /* Adjust the margin value as desired */
}
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity: 1.01;}
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
@-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
@-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}